@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}

 <section class="home-index-slider slider-arrow slider-dots">
     @for (int i = 1; i <= Model.Sliders.Count; i++)
    {
        <div class="banner-part banner-@i">
            <div class="container">
                <div class="row align-items-center">
                    @if (i%2==1)
                    {
                        <div class="col-md-6 col-lg-6">
                            <div class="banner-content">
                                <h1>@Model.Sliders[i-1].Title</h1>
                                <p>
                                  @Model.Sliders[i-1].Description
                                </p>
                                <div class="banner-btn">
                                    <a class="btn btn-inline" href="shop-4column.html">
                                        <i class="fas fa-shopping-basket"></i><span>shop now</span>
                                    </a><a class="btn btn-outline" href="offer.html">
                                        <i class="icofont-sale-discount"></i><span>get offer</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="banner-img"><img src="~/images/home/index/@Model.Sliders[i-1].SliderImage" alt="index"></div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-6 col-lg-6">
                            <div class="banner-img"><img src="~/images/home/index/@Model.Sliders[i-1].SliderImage" alt="index"></div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="banner-content">
                                <h1>@Model.Sliders[i-1].Title</h1>
                                <p>
                                    @Model.Sliders[i-1].Description
                                </p>
                                <div class="banner-btn">
                                    <a class="btn btn-inline" href="shop-4column.html">
                                        <i class="fas fa-shopping-basket"></i><span>shop now</span>
                                    </a><a class="btn btn-outline" href="offer.html">
                                        <i class="icofont-sale-discount"></i><span>get offer</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>    
    }
       
    </section>
    <section class="section suggest-part">
        <div class="container">
            <ul class="suggest-slider slider-arrow">
                @foreach (var item in Model.Categories)
            {
                <li><a class="suggest-card" href="shop-4column.html"><img src="~/images/suggest/@item.Image" alt="suggest">
                        <h5>@item.Name</h5>
                    </a></li>
            }     
            </ul>
        </div>
    </section>
    <section class="section recent-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>new products </h2>
                    </div>
                </div>
            </div>
            <section id="product" data-count="@ViewBag.count">
            <div id="parent" class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                <partial name="_ProductsByDatePartial" model="@Model.ProductByDate"/>
            </div>
            <div class="row col-lg-12 ">               
                    <div class="section-btn-25">
                        <button class="btn btn-outline show-more-btn">
                            <i class="fas fa-eye"></i><span>show more</span>
                        </button>
                         <button class="btn btn-outline show-less-btn d-none">
                            <i class="fas fa-eye"></i><span>show less</span>
                        </button>
                    </div>            
            </div>

            </section>
          
        </div>
    </section>
    <div class="section promo-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="promo-img"><a href="#"><img src="~/images/promo/home/@Model.Advert.Name" alt="promo"></a></div>
                </div>
            </div>
        </div>
    </div>
    <section class="section feature-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>our featured items</h2>
                    </div>
                </div>
            </div>

            <section id="product-elem" data-count="@ViewBag.count">
            <div id="parent-elem" class="row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2">
                <partial name="_ProductsByRatePartial" model="@Model.ProductByRate"/>
            </div>
            <div class="row col-lg-12 ">               
                    <div class="section-btn-25">
                        <button class="btn btn-outline more-btn">
                            <i class="fas fa-eye"></i><span>show more</span>
                        </button>
                         <button class="btn btn-outline less-btn d-none">
                            <i class="fas fa-eye"></i><span>show less</span>
                        </button>
                    </div>            
            </div>

            </section>
        </div>
    </section>
    <section class="section countdown-part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mx-auto">
                    <div class="countdown-content">
                        <h3>special discount offer for vegetable items</h3>
                        <p>Reprehenderit sed quod autem molestiae aut modi minus veritatis iste dolorum suscipit quis
                            voluptatum fugiat mollitia quia minima</p>
                        <div class="countdown countdown-clock" data-countdown="2022/12/22"><span
                                class="countdown-time"><span>00</span><small>days</small></span><span
                                class="countdown-time"><span>00</span><small>hours</small></span><span
                                class="countdown-time"><span>00</span><small>minutes</small></span><span
                                class="countdown-time"><span>00</span><small>seconds</small></span></div><a
                            href="shop-4column.html" class="btn btn-inline"><i
                                class="fas fa-shopping-basket"></i><span>shop now</span></a>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5">
                    <div class="countdown-img"><img src="~/images/countdown.png" alt="countdown">
                        <div class="countdown-off"><span>20%</span><span>off</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section newitem-part">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-heading">
                        <h2>collected new items</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="new-slider slider-arrow">

                    <partial name="_ProductsBySalePartial" model="@Model.ProductBySale" />
                  
                    </ul>
                </div>
            </div>
          
        </div>
    </section>
    <div class="section promo-part">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Adverts)
            {
                 <div class="col-sm-12 col-md-6 col-lg-6 px-xl-3">
                    <div class="promo-img"><a href="#"><img src="~/images/promo/home/@item.Name" alt="promo"></a></div>
                </div>
            }            
            </div>
        </div>
    </div>
    <section class="section niche-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Browse by Top Niche</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs">
                        <li><a href="#top-order" class="tab-link active" data-bs-toggle="tab"><i
                                    class="icofont-price"></i><span>top order</span></a></li>
                        <li><a href="#top-rate" class="tab-link" data-bs-toggle="tab"><i
                                    class="icofont-star"></i><span>top rating</span></a></li>
                        <li><a href="#top-disc" class="tab-link" data-bs-toggle="tab"><i
                                    class="icofont-sale-discount"></i><span>top sale</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade show active" id="top-order">
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

                <partial name="_ProductsByDatePartial" model="@Model.ProductByDate" />

                </div>
            </div>
            <div class="tab-pane fade" id="top-rate">
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

                <partial name="_ProductsByDatePartial" model="@Model.ProductByRate" />
                    
                </div>
            </div>
            <div class="tab-pane fade" id="top-disc">
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

                <partial name="_ProductsByDatePartial" model="@Model.ProductBySale" />

                   </div>
            </div>
            
        </div>
    </section>
    <section class="section brand-part">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2>shop by brands</h2>
                    </div>
                </div>
            </div>
            <div class="brand-slider slider-arrow">
                @foreach (var item in Model.Brands)
            {
                 <div class="brand-wrap">
                    <div class="brand-media"><img src="~/images/brand/@item.Image" alt="brand">
                        <div class="brand-overlay"><a href=""><i class="fas fa-link"></i></a></div>
                    </div>
                    <div class="brand-meta">
                        <h4>@item.Name</h4>
                       
                    </div>
                </div>
            }              
            
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-btn-50"><a asp-controller="Brand" asp-action="Index" class="btn btn-outline"><i
                                class="fas fa-eye"></i><span>view all brands</span></a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section testimonial-part">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2>client's feedback</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonial-slider slider-arrow">
                        <div class="testimonial-card"><i class="fas fa-quote-left"></i>
                            <p>Lorem ipsum dolor consectetur adipisicing elit neque earum sapiente vitae obcaecati
                                magnam doloribus magni provident ipsam</p>
                            <h5>mahmud hasan</h5>
                            <ul>
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                            </ul><img src="~/images/avatar/01.jpg" alt="testimonial">
                        </div>
                        <div class="testimonial-card"><i class="fas fa-quote-left"></i>
                            <p>Lorem ipsum dolor consectetur adipisicing elit neque earum sapiente vitae obcaecati
                                magnam doloribus magni provident ipsam</p>
                            <h5>mahmud hasan</h5>
                            <ul>
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                            </ul><img src="~/images/avatar/02.jpg" alt="testimonial">
                        </div>
                        <div class="testimonial-card"><i class="fas fa-quote-left"></i>
                            <p>Lorem ipsum dolor consectetur adipisicing elit neque earum sapiente vitae obcaecati
                                magnam doloribus magni provident ipsam</p>
                            <h5>mahmud hasan</h5>
                            <ul>
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                            </ul><img src="~/images/avatar/03.jpg" alt="testimonial">
                        </div>
                        <div class="testimonial-card"><i class="fas fa-quote-left"></i>
                            <p>Lorem ipsum dolor consectetur adipisicing elit neque earum sapiente vitae obcaecati
                                magnam doloribus magni provident ipsam</p>
                            <h5>mahmud hasan</h5>
                            <ul>
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                            </ul><img src="~/images/avatar/04.jpg" alt="testimonial">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section blog-part">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2>Read our articles</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-slider slider-arrow">
                        <div class="blog-card">
                            <div class="blog-media"><a class="blog-img" href="#"><img src="~/images/blog/01.jpg"
                                        alt="blog"></a></div>
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li><i class="fas fa-user"></i><span>admin</span></li>
                                    <li><i class="fas fa-calendar-alt"></i><span>february 02, 2021</span></li>
                                </ul>
                                <h4 class="blog-title"><a href="blog-details.html">Voluptate blanditiis provident Lorem
                                        ipsum dolor sit amet</a></h4>
                                <p class="blog-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias
                                    autem recusandae deleniti nam dignissimos sequi ... </p><a class="blog-btn"
                                    href="#"><span>read more</span><i class="icofont-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="blog-card">
                            <div class="blog-media"><a class="blog-img" href="#"><img src="~/images/blog/02.jpg"
                                        alt="blog"></a></div>
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li><i class="fas fa-user"></i><span>admin</span></li>
                                    <li><i class="fas fa-calendar-alt"></i><span>february 02, 2021</span></li>
                                </ul>
                                <h4 class="blog-title"><a href="blog-details.html">Voluptate blanditiis provident Lorem
                                        ipsum dolor sit amet</a></h4>
                                <p class="blog-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias
                                    autem recusandae deleniti nam dignissimos sequi ... </p><a class="blog-btn"
                                    href="#"><span>read more</span><i class="icofont-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="blog-card">
                            <div class="blog-media"><a class="blog-img" href="#"><img src="~/images/blog/03.jpg"
                                        alt="blog"></a></div>
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li><i class="fas fa-user"></i><span>admin</span></li>
                                    <li><i class="fas fa-calendar-alt"></i><span>february 02, 2021</span></li>
                                </ul>
                                <h4 class="blog-title"><a href="blog-details.html">Voluptate blanditiis provident Lorem
                                        ipsum dolor sit amet</a></h4>
                                <p class="blog-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias
                                    autem recusandae deleniti nam dignissimos sequi ... </p><a class="blog-btn"
                                    href="#"><span>read more</span><i class="icofont-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="blog-card">
                            <div class="blog-media"><a class="blog-img" href="#"><img src="~/images/blog/04.jpg"
                                        alt="blog"></a></div>
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li><i class="fas fa-user"></i><span>admin</span></li>
                                    <li><i class="fas fa-calendar-alt"></i><span>february 02, 2021</span></li>
                                </ul>
                                <h4 class="blog-title"><a href="blog-details.html">Voluptate blanditiis provident Lorem
                                        ipsum dolor sit amet</a></h4>
                                <p class="blog-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias
                                    autem recusandae deleniti nam dignissimos sequi ... </p><a class="blog-btn"
                                    href="#"><span>read more</span><i class="icofont-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-btn-25"><a href="blog-grid.html" class="btn btn-outline"><i
                                class="fas fa-eye"></i><span>view all blog</span></a></div>
                </div>
            </div>
        </div>
    </section>



@section Scripts{

    <script src="~/js/home.js"></script>
   
}