@model AboutVM
@{
    ViewData["Title"] = "Index";
}

@section Css{

    <link rel="stylesheet" href="~/css/about.css">
}

<section class="inner-section single-banner" style="background: url(images/@Model.BgImage.Image) no-repeat center;">
    <div class="container">
        <h2>about our company</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">about</li>
        </ol>
    </div>
</section>
<section class="inner-section about-company">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-content">
                    <h2>@Model.Texts.Title</h2>
                    <p>
                        @Model.Texts.Description
                    </p>
                </div>
                <ul class="about-list">

                    @foreach (var item in Model.Milestones)
                    {
                        <li>
                            <h3>@item.Counter</h3>
                            <h6>@item.Type</h6>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="about-img">
                    @foreach (var image in Model.Images)
                    {
                        <img src="~/images/about/@image.Images" alt="about">
                    }
                   
                </div>
            </div>
        </div>
    </div>
</section>
<section class="inner-section about-testimonial">
    <div class="container">
        <ul class="testi-slider slider-arrow">

            @foreach (var item in Model.Testimonials)
            {
                <li>
                    <div class="testi-content">
                        <a class="testi-img" href="#">
                            <img src="~/images/testimonial/@item.Image"
                                 alt="testimonial">
                        </a>
                        <div class="testi-quote">
                            <i class="icofont-quote-left"></i>
                            <p>
                                @item.Description
                            </p>
                            <h4>@item.FullName</h4>
                            <h6>@item.Position.Name</h6>
                        </div>
                    </div>
                </li>
            }
          
       
        </ul>
    </div>
</section>
<section class="about-choose">
    <div class="container">
        <div class="row">
            <div class="col-11 col-md-9 col-lg-7 col-xl-6 mx-auto">
                <div class="section-heading">
                    <h2>Why People Choose Their Daily Organic Life With Us</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-fruits"></i></div>
                    <div class="choose-text">
                        <h4>100% fresh organic food</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing tempora pariatur provident animi error
                            dignissimo cumque minus facere dolores cupiditate debitis
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-vehicle-delivery-van"></i></div>
                    <div class="choose-text">
                        <h4>Delivery within one hour</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing tempora pariatur provident animi error
                            dignissimo cumque minus facere dolores cupiditate debitis
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-loop"></i></div>
                    <div class="choose-text">
                        <h4>quickly return policy</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing tempora pariatur provident animi error
                            dignissimo cumque minus facere dolores cupiditate debitis
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>instant support team</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing tempora pariatur provident animi error
                            dignissimo cumque minus facere dolores cupiditate debitis
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="inner-section about-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>our team members</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="team-slider slider-arrow">

                    @foreach (var item in Model.Teams)
                    {
                        <li>
                            <figure class="team-media">
                                <img src="~/images/team/@item.Image" alt="team">
                                <div class="team-overlay">
                                    <a href="#" class="icofont-facebook facebook"></a><a href="#"
                                                                                         class="icofont-twitter twitter"></a><a href="#"
                                                                                                                                class="icofont-linkedin linkedin"></a>
                                </div>
                            </figure>
                            <div class="team-meta">
                                <h5><a href="#">@item.FullName</a></h5>
                                <p>@item.Position.Name</p>
                            </div>
                        </li>
                    }
                  
                </ul>
            </div>
        </div>
    </div>
</section>

